<script setup>
import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import isURL from "validator/es/lib/isURL";
import axios from "../../utils/axios";
import { useUserStore } from "../../stores/user";
import { ElMessage, ElMessageBox, ElEmpty } from "element-plus";

const userStore = useUserStore();
const router = useRouter();
const route = useRoute();
const id = route.params.id ?? userStore.getUser().id;
const url = `${process.env.API_BASE_URL}/coaches/${id}/seances/valide`;
const response = await axios.get(url).catch((error) => {
  if (error.response.data.status !== "UNAUTHORIZED") {
    ElMessage({ message: error.response.data.message, type: "error" });
  }
});
const seances = ref(response.data);

function accepterSeance(pendingSeance) {
  ElMessageBox.prompt(
    "Veuillez entrer le liens vers la seance de visio-conférence",
    "",
    {
      confirmButtonText: "OK",
      cancelButtonText: "Cancel",
      inputErrorMessage: "lien syntaxiquement incorrecte",
      inputValidator: (value) => {
        return isURL(value);
      },
    }
  )
    .then(({ value }) => {
      axios
        .put(
          `${process.env.API_BASE_URL}/coaches/${id}/seances/${pendingSeance.id}/accepted`,
          {
            id: pendingSeance.id,
            coachId: id,
            url: value,
          }
        )
        .then((result) => {
          ElMessage({ message: result.data.message, type: "success" });
          seances.value.pendingSeances.splice(
            seances.value.pendingSeances.indexOf(pendingSeance),
            1
          );
        })
        .catch((err) => ElMessage(err.message));
    })
    .catch(() => {
      ElMessage({
        type: "info",
        message: "Action annulée",
      });
    });
}

function refuserSeance(pendingSeance) {
  axios
    .put(
      `${process.env.API_BASE_URL}/coaches/${id}/seances/${pendingSeance.id}/refused`
    )
    .then((result) => {
      seances.value.pendingSeances.splice(
        seances.value.pendingSeances.indexOf(pendingSeance),
        1
      );
      ElMessage({ message: result.data.message, type: "success" });
    })
    .catch((err) => ElMessage({ message: err.message, type: "error" }));
}
</script>

<template>
  <div>
    <p style="text-align: center; font-size: 1.6rem">Pending Sessions</p>
    <section v-if="seances.pendingSeances.length > 0">
      <section
        v-for="pendingSeance in seances.pendingSeances"
        :key="pendingSeance.id"
        class="session"
      >
        <div class="card">
          <header
            class="card-header"
            v-text="pendingSeance.dateSeance"
          ></header>
          <div class="card-body">
            <p v-text="pendingSeance.heureSeance"></p>
            <p v-text="pendingSeance.etatSeance"></p>
            <p
              v-text="
                `${pendingSeance.client.nom} ${pendingSeance.client.prenom}`
              "
            ></p>
          </div>
          <footer class="card-footer" style="display: flex; gap: 1rem">
            <button
              class="btn btn-primary"
              @click="accepterSeance(pendingSeance)"
            >
              Accepter
            </button>
            <button
              class="btn btn-danger"
              @click="refuserSeance(pendingSeance)"
            >
              Refuser
            </button>
          </footer>
        </div>
      </section>
    </section>
    <el-empty v-else description="no pending seances"></el-empty>
    <section>
      <header>Upcoming seances</header>
      <section v-if="seances.upcomingSeances.length > 0" class="flex flex-wrap">
        <section
          v-for="upcommingSeance in seances.upcomingSeances"
          :key="upcommingSeance.id"
          class="session"
        >
          <div class="card">
            <header
              class="card-header"
              v-text="upcommingSeance.dateSeance"
            ></header>
            <div class="card-body">
              <p v-text="upcommingSeance.heureSeance"></p>
              <p
                v-text="
                  `${upcommingSeance.client.nom} ${upcommingSeance.client.prenom}`
                "
              ></p>
            </div>
          </div>
        </section>
      </section>
      <el-empty v-else description="no upcoming seances"></el-empty>
    </section>
  </div>
</template>

<style scoped></style>
