<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section>
    <p th:text="#{greetings(${recipientName})}"></p>
    <p th:text="#{newSeance(${clientName})}"></p>
    <ul>

        <li>
            <p th:text="#{client(${clientName})}"></p>
            <p th:text="#{program(${programmeName})}"></p>
            <p th:text="#{activite(${activiteName})}"></p>
            <p th:text="#{duration(${activiteDuree})}"></p>
            <p th:text="#{date(${programmeDate})}"></p>
        </li>
    </ul>
</section>
<p th:text="#{regards}"></p>
<p>
    <em th:text="#{signature(${senderName})}"></em> <br />
</p>
</body>
</html>