<script setup>
import { ref } from "vue";
import axios from "../../utils/axios";
import { ElMessage, ElDialog } from "element-plus";

const url = `${process.env.API_BASE_URL}/users`;
const response = await axios.get(url);

const users = ref(response.data.payload);
const selectedUser = ref(null);

const visible = ref(false);

function deleteUser(user) {
  console.log("deleteUser");
  axios
    .delete(`${url}/${user.id}`)
    .then((response) => {
      ElMessage({
        message: response.data.message,
        type: "success",
      });
      users.value.splice(users.value.indexOf(user), 1);
    })
    .catch((err) => {
      console.dir(err);
      ElMessage({ message: err.response.data.message, type: "error" });
    })
    .finally((selectedUser.value = null));
}
</script>

<template>
  <div class="container mt-5 px-2">
    <div class="mb-2 d-flex justify-content-between align-items-center">
      <div class="position-relative">
        <span class="position-absolute search"
          ><i class="fa fa-search"></i
        ></span>
        <input
          class="form-control w-100"
          placeholder="Search by order#, name..."
        />
      </div>

      <div class="px-2">
        <span>Filters <i class="fa fa-angle-down"></i></span>
        <i class="fa fa-ellipsis-h ms-3"></i>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-responsive table-borderless">
        <thead>
          <tr
            class="bg-light"
            style="border-collapse: separate; border-spacing: 0 10px"
          >
            <th scope="col" style="width: 5%">
              <input class="form-check-input" type="checkbox" />
            </th>
            <th scope="col" style="width: 20%">Customer</th>
            <th scope="col" style="width: 20%">&nbsp;</th>
            <th scope="col" style="width: 20%">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <th scope="row">
              <input class="form-check-input" type="checkbox" />
            </th>
            <td class="flex flex-col">
              <img src="https://i.imgur.com/VKOeFyS.png" width="25" />
              <p v-text="user.nom"></p>
            </td>
            <td>
              <a class="btn btn-primary" :href="`/admin/users/${user.id}`"
                >modifier</a
              >
            </td>
            <td>
              <button
                class="btn-close"
                style="
                  filter: invert(24%) sepia(92%) saturate(7463%)
                    hue-rotate(354deg) brightness(89%) contrast(129%);
                "
                @click="
                  visible = true;
                  selectedUser = user;
                "
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <el-dialog v-model="visible" :show-close="false" custom-class="dialog">
    <template #header="{ titleId, titleClass }">
      <div class="flex flex-col" style="align-items: center; gap: 2rem">
        <font-awesome-icon
          :icon="['far', 'circle-xmark']"
          size="4x"
          style="color: red"
        />
        <h4 :id="titleId" :class="titleClass">Are you sure?</h4>
      </div>
    </template>
    <p style="font-size: min(1.6rem, 75ch); align-self: center">
      Do you really want to delete these records? This process cannot be undone.
    </p>
    <template #footer>
      <div class="flex" style="justify-content: center">
        <button class="btn btn-outline-secondary" @click="visible = false">
          Cancel
        </button>
        <button
          class="btn btn-danger"
          @click="
            visible = false;
            deleteUser(selectedUser);
          "
        >
          Delete
        </button>
      </div>
    </template>
  </el-dialog>
</template>

<style scoped>
.search {
  top: 6px;
  left: 10px;
}

.form-control {
  border: none;
  padding-left: 32px;
}

td {
  border-bottom-width: 1px;
}

td:last-child,
td:first-child {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}
</style>
