<script setup>
import { useAuthStore } from "../stores/auth";
import { useUserStore } from "../stores/user";

const authStore = useAuthStore();
const userStore = useUserStore();
</script>

<template>
  <ul class="flex flex-col">
    <RouterLink v-slot="{ href, navigate, isExactActive }" custom to="/client">
      <li class="nav-item">
        <a
          :class="{ active: isExactActive }"
          :href="href"
          class="nav-link"
          @click="navigate"
          >Seances</a
        >
      </li>
    </RouterLink>
    <RouterLink
      v-slot="{ href, navigate, isExactActive }"
      custom
      to="/client/profile"
    >
      <li class="nav-item">
        <a
          :class="{ active: isExactActive }"
          :href="href"
          class="nav-link"
          @click="navigate"
          >Profile</a
        >
      </li>
    </RouterLink>
    <li v-if="userStore.isAuthenticated" class="nav-item">
      <a class="nav-link" style="cursor: pointer" @click="authStore.logout()"
        >Log out</a
      >
    </li>
    <template v-else>
      <RouterLink v-slot="{ href, navigate, isExactActive }" custom to="/login">
        <li class="nav-item">
          <a
            :class="{ active: isExactActive }"
            :href="href"
            class="nav-link"
            @click="navigate"
            >Log in</a
          >
        </li>
      </RouterLink>
      <RouterLink
        v-slot="{ href, navigate, isExactActive }"
        custom
        to="/signup"
      >
        <li class="nav-item">
          <a
            :class="{ active: isExactActive }"
            :href="href"
            class="nav-link"
            @click="navigate"
            >Sign up</a
          >
        </li>
      </RouterLink>
    </template>
  </ul>
</template>

<style scoped>
ul {
  --gap: 1.6rem;
  background-color: #332a7c;
  color: white;
}
.nav-link {
  color: white;
}

.nav-link:hover {
  background-color: rgb(41, 34, 99);
}
</style>
