<script setup>
import { useAuthStore } from "../stores/auth";
import { ElMenu, ElMenuItem, ElIcon } from "element-plus";
import IconDashboard from "./icons/IconDashboard.vue";
import IconSessions from "./icons/IconSessions.vue";
import IconProgrammes from "./icons/IconProgrammes.vue";
import IconSettings from "./icons/IconSettings.vue";
import IconLogout from "./icons/IconLogout.vue";

const authStore = useAuthStore();
</script>

<template>
  <el-menu
    background-color="#332A7C"
    default-active="1"
    :router="true"
    text-color="#ffffff"
  >
    <el-menu-item index="/coach">
      <el-icon>
        <icon-dashboard />
      </el-icon>
      <span>Dashboard</span>
    </el-menu-item>
    <el-menu-item index="/coach/seances">
      <el-icon>
        <icon-sessions />
      </el-icon>
      <span>Seances</span>
    </el-menu-item>
    <el-menu-item index="/coach/programmes">
      <el-icon>
        <icon-programmes />
      </el-icon>
      <span>Programmes</span>
    </el-menu-item>
    <el-menu-item index="/coach/settings">
      <el-icon>
        <icon-settings />
      </el-icon>
      <span>Settings</span>
    </el-menu-item>
    <el-menu-item index="" @click="authStore.logout()">
      <el-icon>
        <icon-logout />
      </el-icon>
      <span>Logout</span>
    </el-menu-item>
  </el-menu>
</template>

<style scoped></style>
