<script setup>
import { IMask, IMaskComponent } from "vue-imask";
import { ref, watch } from "vue";
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";

const props = defineProps({
  modelValue: String,
  error: { required: true },
  isValid: { required: true },
});
const emit = defineEmits(["update:modelValue", "validate"]);
dayjs.extend(duration);
const DURATION_FORMAT = "HH:mm:ss";
const blocks = {
  h: {
    mask: IMask.MaskedRange,
    placeholderChar: "h",
    maxLength: 2,
    from: 0,
    to: 24,
  },
  m: {
    mask: IMask.MaskedRange,
    placeholderChar: "m",
    maxLength: 2,
    from: 0,
    to: 59,
  },
  s: {
    mask: IMask.MaskedRange,
    placeholderChar: "s",
    maxLength: 2,
    from: 0,
    to: 59,
  },
};

const formattedDuration = ref(isoFormatToHuman(props.modelValue));
function durationToIsoString(aFormattedDuration) {
  const durationTab = aFormattedDuration.split(":");
  return dayjs
    .duration({
      seconds: durationTab[2],
      minutes: durationTab[1],
      hours: durationTab[0],
    })
    .toISOString();
}
watch(
  () => formattedDuration.value,
  (newFormattedDuration) => {
    if (newFormattedDuration === DURATION_FORMAT.toLowerCase()) {
      emit("update:modelValue", "");
    }
  }
);

function isoFormatToHuman(aDuration) {
  return dayjs.duration(aDuration).format(DURATION_FORMAT);
}

function onCompleteTyped(value) {
  emit("update:modelValue", durationToIsoString(value));
}
</script>

<template>
  <IMaskComponent
    v-model="formattedDuration"
    :class="{
      'is-invalid': error,
      'is-valid ': isValid && modelValue,
    }"
    :blocks="blocks"
    :lazy="false"
    class="form-control form-control"
    mask="h{:}m{:}s"
    placeholder="Enter number here"
    @complete="onCompleteTyped"
    @blur="$emit('validate')"
  />
</template>

<style scoped></style>
