<script setup>
const props = defineProps({
  type: { required: true },
  label: { required: true },
  placeholder: { required: false },
  required: { required: false },
  name: { required: true },
  isValid: { required: true },
  modelValue: { required: true },
  error: { required: true },
});
defineEmits(["update:modelValue", "validate"]);
</script>

<template>
  <div class="form-floating flex-col" style="margin-bottom: 1.5rem">
    <input
      v-if="type !== 'textarea'"
      :id="name"
      class="form-control"
      :class="{
        'is-invalid': error,
        'is-valid ': isValid && modelValue,
      }"
      :name="name"
      :placeholder="placeholder ?? ''"
      :required="required ?? false"
      :type="type"
      :value="modelValue"
      @blur="$emit('validate')"
      @input="$emit('update:modelValue', $event.target.value)"
    />
    <textarea
      v-else
      :id="name"
      class="form-control"
      :class="{
        'is-invalid': error,
        'is-valid ': isValid && modelValue,
      }"
      :name="name"
      :placeholder="placeholder ?? ''"
      :required="required ?? false"
      :type="type"
      :value="modelValue"
      @blur="$emit('validate')"
      @input="$emit('update:modelValue', $event.target.value)"
    >
    </textarea>
    <label :for="name">{{ label }}</label>
    <p v-if="error" class="invalid-feedback">{{ error }}</p>
  </div>
</template>
