<script setup>
import { RouterLink } from "vue-router";
import { useAuthStore } from "../stores/auth";
import { useUserStore } from "../stores/user";

const authStore = useAuthStore();
const userStore = useUserStore();
</script>

<template>
  <nav class="flex">
    <div class="logo">
      <p>COACH ME</p>
    </div>
    <ul class="nav nav-pills">
      <RouterLink v-slot="{ href, navigate, isExactActive }" custom to="/">
        <li class="nav-item mx-2">
          <a
            :class="{ active: isExactActive }"
            :href="href"
            class="nav-link"
            @click="navigate"
            >Home</a
          >
        </li>
      </RouterLink>
      <RouterLink
        v-slot="{ href, navigate, isExactActive }"
        custom
        to="/coachs"
      >
        <li class="nav-item mx-2">
          <a
            :class="{ active: isExactActive }"
            :href="href"
            class="nav-link"
            @click="navigate"
            >Coachs</a
          >
        </li>
      </RouterLink>
      <RouterLink
        v-if="userStore.getUser()?.role"
        v-slot="{ href, navigate, isExactActive }"
        custom
        :to="`/${userStore.getUser().role}`"
      >
        <li class="nav-item mx-2">
          <a
            :class="{ active: isExactActive }"
            :href="href"
            class="nav-link"
            @click="navigate"
            >Dashboard</a
          >
        </li>
      </RouterLink>
      <li v-if="userStore.isAuthenticated" class="nav-item mx-2">
        <button class="nav-link" @click="authStore.logout()">Log out</button>
      </li>
      <template v-else>
        <RouterLink
          v-slot="{ href, navigate, isExactActive }"
          custom
          to="/login"
        >
          <li class="nav-item mx-2">
            <a
              :class="{ active: isExactActive }"
              :href="href"
              class="nav-link"
              @click="navigate"
              >Log in</a
            >
          </li>
        </RouterLink>
        <RouterLink
          v-slot="{ href, navigate, isExactActive }"
          custom
          to="/signup"
        >
          <li class="nav-item mx-2">
            <a
              :class="{ active: isExactActive }"
              :href="href"
              class="nav-link"
              @click="navigate"
              >Sign up</a
            >
          </li>
        </RouterLink>
      </template>
    </ul>
  </nav>
</template>

<style scoped>
nav {
  max-block-size: 8vh;
  min-inline-size: 100%;
}
nav * {
  align-self: center;
}

.nav-link {
  color: white;
}
.logo {
  color: white;
}
</style>
