<script setup>
import { computed, nextTick, ref } from "vue";
import { ElTag, ElButton, ElInput } from "element-plus";

const props = defineProps({
  sujets: { required: true },
  errors: { required: true },
});
const emit = defineEmits(["add", "remove", "validate"]);
const inputValue = ref("");
const inputVisible = ref(false);
const inputRef = ref(null);
const errorsMessages = computed(() => {
  return [
    ...new Set(
      props.errors.errors
        .filter((error) => error.field.includes("sujets["))
        .map((error) => error.message)
    ),
  ];
});
const handleClose = (tag) => {
  nextTick(() => {
    emit("remove", tag);
  });
};
const showInput = () => {
  inputVisible.value = true;
  nextTick(() => {
    inputRef.value?.input?.focus();
  });
};
const handleInputConfirm = () => {
  if (inputValue.value.trim()) {
    emit("add", inputValue.value);
    emit("validate");
  }
  inputVisible.value = false;
  inputValue.value = "";
};
</script>

<template>
  <div class="container grid">
    <div v-if="errorsMessages.length > 0" style="text-align: center">
      <p
        v-for="(error, index) in errorsMessages"
        :key="`error${index}`"
        style="color: #dc3545"
        v-text="error"
      ></p>
    </div>
    <div class="flex flex-wrap">
      <el-tag
        v-for="(sujet, index) in sujets"
        :key="sujet.id"
        :class="{ 'is-invalid': !errors?.has(`sujets[${index}].libelle`) }"
        :type="!errors?.has(`sujets[${index}].libelle`) ? 'info' : 'danger'"
        closable
        name="libelle"
        @close="handleClose(sujet)"
        >{{ sujet.libelle }}
      </el-tag>
      <el-input
        v-if="inputVisible"
        ref="inputRef"
        v-model="inputValue"
        class="ml-1 w-25"
        size="small"
        @blur="handleInputConfirm"
        @keyup.enter="handleInputConfirm"
      />
      <el-button v-else class="button-new-tag" size="small" @click="showInput">
        + New Sujet
      </el-button>
    </div>
  </div>
</template>
