<script setup>
import { IMask, IMaskComponent } from "vue-imask";
import { ref, watch } from "vue";

const props = defineProps({
  modelValue: String,
  error: { required: true },
  isValid: { required: true },
  label: { required: true },
  placeholder: { required: false },
  required: { required: false },
  name: { required: true },
});
const emit = defineEmits(["update:modelValue", "validate"]);
const TIME_FORMAT = "hh:mm";
const time = ref(props.modelValue);
watch(time, (newTime) => {
  if (newTime === TIME_FORMAT.toLowerCase()) {
    emit("update:modelValue", "");
  }
});
const blocks = {
  h: {
    mask: IMask.MaskedRange,
    placeholderChar: "h",
    maxLength: 2,
    from: 0,
    to: 24,
  },
  m: {
    mask: IMask.MaskedRange,
    placeholderChar: "m",
    maxLength: 2,
    from: 0,
    to: 59,
  },
};

function onCompleteTyped(value) {
  emit("update:modelValue", value);
}
</script>

<template>
  <div class="form-floating flex-col" style="margin-bottom: 1.5rem">
    <IMaskComponent
      v-model="time"
      :blocks="blocks"
      :class="{
        'is-invalid': error,
        'is-valid ': isValid && modelValue,
      }"
      :lazy="false"
      class="form-control form-control"
      :name="name"
      mask="h{:}m"
      placeholder="Enter hour here"
      @blur="$emit('validate')"
      @complete="onCompleteTyped"
    />
    <label :for="name">{{ label }}</label>
    <p v-if="error" class="invalid-feedback">{{ error }}</p>
  </div>
</template>

<style scoped></style>
