<template>
  <svg
    width="22"
    height="20"
    viewBox="0 0 22 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M21.6463 9.47514L19.3012 7.82182C18.8763 7.5223 18.289 7.8273 18.289 8.34665V9.35785H7.02888C6.67426 9.35785 6.38672 9.64534 6.38672 10C6.38672 10.3547 6.67426 10.6421 7.02888 10.6421H18.2889V11.6533C18.2889 12.176 18.8793 12.4754 19.3011 12.1781L21.6462 10.5248C22.0043 10.2725 22.0116 9.73319 21.6463 9.47514Z"
      fill="white"
    />
    <path
      d="M18.4275 14.1231C18.1206 13.9456 17.7277 14.0504 17.5501 14.3574C16.0417 16.9651 13.2221 18.7157 10 18.7157C5.19415 18.7157 1.28427 14.8058 1.28427 10C1.28427 5.19415 5.19415 1.28427 10 1.28427C13.2242 1.28427 16.0426 3.03652 17.55 5.64248C17.7276 5.9495 18.1206 6.05425 18.4274 5.87681C18.7344 5.69924 18.8393 5.3064 18.6617 4.99942C16.9269 2.0004 13.6869 0 10 0C4.47297 0 0 4.4725 0 10C0 15.527 4.4725 20 10 20C13.6884 20 16.9277 17.9982 18.6618 15.0005C18.8393 14.6935 18.7344 14.3007 18.4275 14.1231Z"
      fill="white"
    />
  </svg>
</template>