<template>
  <svg
    fill="none"
    height="20"
    viewBox="0 0 20 20"
    width="20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20 20L19.9995 2.33926H17.6598L17.6597 0H0V17.6602H2.33977V20H20ZM18.8296 3.50914L18.8301 18.8301H3.50969V17.6602H13.8269C14.8508 17.6602 15.8134 17.2614 16.5375 16.5374C17.2615 15.8134 17.6602 14.8507 17.6602 13.8268L17.6599 3.5091H18.8296V3.50914ZM14.3238 16.4438C14.4483 16.1758 14.5184 15.8775 14.5184 15.563V14.5402H15.5998C15.8936 14.5402 16.177 14.4788 16.4363 14.3631C16.3332 14.87 16.0844 15.336 15.7102 15.7102C15.3264 16.0941 14.8459 16.3458 14.3238 16.4438ZM16.4899 1.16938L16.49 3.50914H1.16988V1.16938H16.4899ZM1.16988 4.67906H16.49L16.4902 12.4777C16.4818 12.721 16.3881 12.9445 16.2233 13.1117C16.0588 13.2785 15.8374 13.3703 15.5998 13.3703H13.3484V15.563C13.3484 16.0744 12.9327 16.4904 12.4218 16.4904H1.16988V4.67906Z"
      fill="white"
    />
    <path d="M4.05518 6.60358H5.22514V7.77346H4.05518V6.60358Z" fill="white" />
    <path d="M6.48474 6.60358H13.2391V7.77346H6.48474V6.60358Z" fill="white" />
    <path d="M4.05518 8.94336H5.22514V10.1132H4.05518V8.94336Z" fill="white" />
    <path d="M6.48474 8.94336H13.2391V10.1132H6.48474V8.94336Z" fill="white" />
    <path d="M4.05518 11.2831H5.22514V12.453H4.05518V11.2831Z" fill="white" />
    <path d="M6.48474 11.2831H13.2391V12.453H6.48474V11.2831Z" fill="white" />
  </svg>
</template>