<script setup>
import { useRoute, useRouter } from "vue-router";
import { ref } from "vue";
import axios from "../../utils/axios";
import { useUserStore } from "../../stores/user";
import ModifierDateSeance from "../ModifierDateSeance.vue";
import { ElMessage, ElDialog, ElEmpty } from "element-plus";

const userStore = useUserStore();
const router = useRouter();
const route = useRoute();
const isDialogOpen = ref(false);
const modifierDateSeance = ref(null);
const id = route.params.id ?? userStore.getUser().id;
const url = `${process.env.API_BASE_URL}/clients/${id}/seances/valide`;
const selectedSeance = ref(null);
const response = await axios.get(url).catch((error) => {
  if (error.response.data.status !== "UNAUTHORIZED") {
    ElMessage({ message: error.response.data.message, type: "error" });
  }
});
const seances = ref(response.data);

function openDialog(seance) {
  selectedSeance.value = seance ?? null;
  if (selectedSeance.value) {
    isDialogOpen.value = true;
  }
}

function onSuccess() {
  isDialogOpen.value = false;
  selectedSeance.value.dateSeance =
    modifierDateSeance.value.selectedDate.toISODate();
  selectedSeance.value.heureSeance =
    modifierDateSeance.value.selectedDate.toFormat("HH:mm:ss");
}

function annulerReservation(reservation) {
  axios
    .put(
      `${process.env.API_BASE_URL}/clients/${id}/reservations/${reservation.id}/canceled`
    )
    .then((result) => {
      reservation.etatSeance = "CANCELED";
      ElMessage({ message: result.data.message, type: "success" });
      seances.value.pendingSeances.splice(
        seances.value.pendingSeances.indexOf(reservation),
        1
      );
      seances.value.passedSeances.push(reservation);
    })
    .catch((err) => {
      if (err?.subErrors) {
        err?.subErrors.forEach((error) => {
          ElMessage({ message: error?.message, type: "error" });
        });
      } else {
        ElMessage({ message: err.message, type: "error" });
      }
    });
}
</script>

<template>
  <div>
    <section>
      <header>Upcoming seances</header>
      <section
        v-if="seances?.upcomingSeances?.length > 0"
        class="flex flex-wrap"
      >
        <section
          v-for="upcommingSeance in seances.upcomingSeances"
          :key="upcommingSeance.id"
          class="session"
        >
          <div class="card">
            <header
              class="card-header"
              v-text="upcommingSeance.dateSeance"
            ></header>
            <div class="card-body">
              <p v-text="upcommingSeance.heureSeance"></p>
              <p v-text="`coach: ${upcommingSeance.coachName}`"></p>
              <p v-text="upcommingSeance.programmeName"></p>
            </div>
          </div>
        </section>
      </section>
      <el-empty v-else description="no upcoming seances"></el-empty>
    </section>
    <section v-if="seances?.pendingSeances?.length > 0">
      <header>
        <p style="text-align: center; font-size: 1.6rem">Pending seances</p>
      </header>
      <section
        v-for="pendingSeance in seances.pendingSeances"
        :key="pendingSeance.id"
        class="session"
      >
        <div class="card">
          <header
            class="card-header"
            v-text="pendingSeance.dateSeance"
          ></header>
          <div class="card-body">
            <p v-text="pendingSeance.heureSeance"></p>
            <p v-text="pendingSeance.etatSeance"></p>
            <p v-text="`coach: ${pendingSeance.coachName}`"></p>
            <p v-text="pendingSeance.programmeName"></p>
          </div>
          <footer class="card-footer" style="display: flex; gap: 1rem">
            <button class="btn btn-primary" @click="openDialog(pendingSeance)">
              Changer Date
            </button>
            <button
              class="btn btn-danger"
              @click="annulerReservation(pendingSeance)"
            >
              Annuler
            </button>
          </footer>
        </div>
      </section>
    </section>
    <section v-if="seances?.passedSeances?.length > 0">
      <header>
        <p style="text-align: center; font-size: 1.6rem">Passed Seances</p>
      </header>
      <section
        v-for="passedSeance in seances.passedSeances"
        :key="passedSeance.id"
        class="session"
      >
        <div class="card">
          <header class="card-header" v-text="passedSeance.dateSeance"></header>
          <div class="card-body">
            <p v-text="passedSeance.heureSeance"></p>
            <p v-text="passedSeance.etatSeance"></p>
            <p v-text="`coach: ${passedSeance.coachName}`"></p>
            <p v-text="passedSeance.programmeName"></p>
          </div>
        </div>
      </section>
    </section>
  </div>
  <el-dialog v-model="isDialogOpen" custom-class="dialog">
    <template #header="{ titleId, titleClass }">
      <div class="flex flex-col" style="align-items: center; gap: 2rem">
        <h4 :id="titleId" :class="titleClass">Modification date séance</h4>
      </div>
    </template>
    <ModifierDateSeance
      v-if="selectedSeance"
      ref="modifierDateSeance"
      :programme-name="selectedSeance.programmeName"
      :activite="{
        name: selectedSeance.activiteDto.libelle,
        id: selectedSeance.activiteDto.id,
      }"
      :coach-id="selectedSeance.coachId"
      :previous-date="new Date(selectedSeance.dateSeance)"
      :reservation-id="selectedSeance.id"
      @success="onSuccess()"
    />
  </el-dialog>
</template>

<style scoped></style>
