/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

:root {
    --color-primary: #332A7C;
}

/* Reset margins*/
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
caption {
    margin: 0;
}

/* rest link,list style*/
a {
    color: currentColor;
}

a:hover,
a:link,
a:active,
a:visited {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.color-primary {
    color: var(--color-primary);
}

/* setup the body */
body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* make image easier to work with */

image {
    max-width: 100%;
    display: block;
}

/* make form  elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove annimation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.dialog {
    max-inline-size: 40ch;
    border: 1px transparent;
    border-radius: 15px;
}

nav {
    background-color: #332A7C;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: var(--gap, 1.8rem);
}

.container {
    inline-size: min(126ch, 100% - 2rem);
    margin-right: auto;
    margin-left: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}
