<script lang="ts" setup>
import "@/assets/css/bootstrap.min.css";
import "element-plus/es/components/message-box/style/css";
import "element-plus/es/components/message/style/css";
import { onBeforeUnmount, onMounted } from "vue";
import "./app.css";
import EventBus from "./common/EventBus";
import { useAuthStore } from "./stores/auth";
import { ElSkeleton } from "element-plus";

const authStore = useAuthStore();

function logout() {
  authStore.logout("/login");
}

onMounted(() =>
  EventBus.on("logout", () => {
    logout();
  })
);
onBeforeUnmount(() => EventBus.remove("logout"));
</script>

<template>
  <RouterView name="MainNavigation" />
  <Suspense>
    <template #default>
      <RouterView />
    </template>
    <template #fallback>
      <el-skeleton :rows="5" animated :throttle="3000" />
    </template>
  </Suspense>
</template>

<style>
#app {
  display: grid;
  min-height: 100%;
  min-inline-size: 100%;
  position: absolute;
}
</style>
