<script lang="ts" setup>
import { onBeforeMount, ref } from "vue";
import { useRoute } from "vue-router";
import type { Coach } from "@types/coach";
import {
  ElContainer,
  ElHeader,
  ElFooter,
  ElCard,
  ElSkeleton,
  ElButton,
  ElMain,
  ElAside,
  ElAvatar,
} from "element-plus";

const route = useRoute();
const id = ref<number>(-1);
const coach = ref<Coach>(null);
onBeforeMount(async () => {
  id.value = Number(route.params.id);

  const response = await fetch(
    `${process.env.API_BASE_URL}/coaches/${id.value}`
  );
  coach.value = await response.json();
});
</script>

<template>
  <el-container v-if="coach" class="is-vertical">
    <el-container>
      <el-header><p v-text="`${coach.nom} ${coach.prenom}`"></p></el-header>
      <el-container>
        <el-aside style="align-self: center" width="50vw">
          <el-avatar :size="48" :src="coach.imageProfile">
            <img src="/profile_placeholder.png" alt="coach profile" />
          </el-avatar>
        </el-aside>
        <el-main>
          <p v-text="coach.description"></p>
        </el-main>
      </el-container>
      <el-footer>
        <span
          v-text="`Disponibility:${coach.horaireDebut}-${coach.horaireFin}`"
        ></span>
      </el-footer>
    </el-container>
    <el-container>
      <el-header style="text-align: center">Programmes</el-header>
      <el-main>
        <el-card
            data-cy="programmes"
          v-for="programme in coach.programmes"
          :key="programme.id"
          class="box-card"
        >
          <template #header>
            <div class="card-header">
              <span v-text="programme.nom"></span>
            </div>
          </template>
          <p>Description</p>
          <el-button
              data-cy="programme_cta"
            ><a :href="`/programme/${programme.id}`">Voir plus</a></el-button
          >
        </el-card>
      </el-main>
    </el-container>
  </el-container>

  <el-skeleton v-else></el-skeleton>
</template>