<script setup lang="ts">
import { ref } from "vue";
import { RouterLink } from "vue-router";
import { useUserStore } from "../stores/user";
import type { Coach } from "../types/coach";
import axios from "../utils/axios.js";

const coachs = ref<Array<Coach>>();
const response = await axios.get(`${process.env.API_BASE_URL}/coaches`);
const userStore = useUserStore();
userStore.$subscribe(() => null, { detached: true });
coachs.value = response.data.payload;
</script>

<template>
  <main>
    <ul v-if="coachs !== undefined" class="container" data-cy="coaches">
      <li
        v-for="(coach, index) in coachs"
        :key="coach.nom + index"
        class="card"
      >
        <img
          class="img-thumbnail"
          :src="coach.imageProfile || 'profile_placeholder.png'"
          alt="coach"
        />
        <div class="flex wrap card-body">
          <p class="card-text">{{ coach.prenom }} - {{ coach.nom }}</p>
          <ul>
            <li
              v-for="(sujet, index) in coach.sujets"
              :key="sujet.libelle + index"
            >
              {{ sujet.libelle }}
            </li>
          </ul>
          <RouterLink
            :key="coach.nom + index"
            data-cy="cta-coach-item"
            class="btn btn-primary"
            :to="{ name: 'coach', params: { id: coach.id } }"
            >Voir profile
          </RouterLink>
        </div>
      </li>
    </ul>
  </main>
</template>

<style>
.img-thumbnail {
  inline-size: 25vw;
}

.card {
  display: flex;
  flex-flow: row wrap;
  inline-size: 75vw;
  margin: 0 auto;
}

.card-body {
  display: flex;
  flex-flow: column;
  text-align: center;
}
</style>