<script setup>
import { computed, defineAsyncComponent, ref, watch } from "vue";
import { useUserStore } from "@/stores/user";

const fullscreenLoading = ref(true);
const userStore = useUserStore();
const componentRef = ref(null);
const navigation = computed(() => {
  let result;
  switch (userStore.getUser()?.role) {
    case "coach":
      result = defineAsyncComponent(() =>
        import("../components/CoachNavigation.vue")
      );
      break;
    case "client":
      result = defineAsyncComponent(() =>
        import("../components/ClientNavigation.vue")
      );
      break;
    case "admin":
      result = defineAsyncComponent(() =>
        import("../components/AdminNavigation.vue")
      );
      break;
  }

  return result;
});
watch(componentRef, (newComponentRef) => {
  if (newComponentRef != null) {
    fullscreenLoading.value = false;
  }
});
</script>

<template>
  <div v-loading.fullscreen.lock="fullscreenLoading" class="dashboard">
    <nav>
      <div class="logo flex">
        <router-link to="/">COACH ME</router-link>
      </div>
      <KeepAlive>
        <component ref="componentRef" :is="navigation" />
      </KeepAlive>
    </nav>
    <router-view />
  </div>
</template>

<style scoped>
.dashboard {
  display: grid;
  grid-template-columns: fit-content(20ch) minmax(min(50vw, 30ch), 1fr);
  min-inline-size: 100%;
  position: relative;
}

.logo {
  padding: 0 2rem;
  color: white;
}
</style>
