<template>
  <section  class="flex flex-col" id="hero">
    <span>Bienvenue sur <strong class="color-primary text-uppercase" >Coach me</strong></span>
    <p class="catch-phrase">Reservez votre  seance de coaching en tout sérénité </p>
    <div>
      <router-link to="/coachs" data-cy="cta-home" class="cta">Voir nos coachs</router-link>
    </div>

  </section>
</template>
<style>
#hero{
  min-height: calc(100vh - 8vh);
  justify-content: center;
  background-color: #F5F9FC;
  text-align: center;
  font-size: 2.223rem;
  padding: 2rem;
}

.catch-phrase{
  font-size: 1.111rem;
  color:#656C93;
}
.cta{
  display: initial;
  background-color: var(--color-primary);
  font-size: 0.8rem;
  color: white;
  min-width: 4.4rem;
  padding:1rem;
  border-radius: 10px;
  margin:1.8rem 1rem 2rem;

}
.cta:hover{
  color:white;

}
</style>
