<template>
  <section class="vh-100" style="background-color: #9a616d">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img alt="login form" class="img-fluid"
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  style="border-radius: 1rem 0 0 1rem" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form method="post" name="loginForm" @submit.prevent="onSubmit">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219"></i>
                      <span class="h1 fw-bold mb-0">Logo</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                      Sign into your account
                    </h5>
                    <FormInput v-model="form.username" :error="form.errors.get('username')"
                      :is-valid="!form.errors.has('username')" :required="true" label="Email address" data-cy="email"
                      name="email" placeholder="Enter an Email" type="email" @Validate="form.validateField('username')" />
                    <FormInput v-model="form.password" :error="form.errors.get('password')"
                      :is-valid="!form.errors.has('password')" :required="true" label="Password" data-cy="password"
                      name="password" placeholder="Enter a password" type="password"
                      @Validate="form.validateField('password')" />
                    <div class="pt-1 mb-4">
                      <button data-cy="submit-button" class="btn btn-dark btn-lg btn-block" type="submit" @click="submit">
                        Login
                      </button>
                    </div>

                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81">
                      Don't have an account?
                      <RouterLink style="color: #393f81" to="/signup">Register here
                      </RouterLink>
                    </p>
                    <a class="small text-muted" href="#!">Terms of use.</a>
                    <a class="small text-muted" href="#!">Privacy policy</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
import { ref, watch } from "vue";
import Form from "../utils/Form";

import * as yup from "yup";
import FormInput from "../components/FormInput.vue";
import { useRouter } from "vue-router";
import { useUserStore } from "../stores/user";
import { useAuthStore } from "../stores/auth";
import normalizeEmail from "validator/es/lib/normalizeEmail";
import { isEmpty } from "underscore/underscore-esm";
import { ElMessage } from "element-plus";

const url = `${process.env.API_BASE_URL}/auth/login`;
const router = useRouter();
const userStore = useUserStore();
const authStore = useAuthStore();
userStore.$subscribe(() => null, { detached: true });
const loginSchema = yup.object().shape({
  username: yup
    .string()
    .required("Email est requis")
    .email("email address doit être valid format:john@doe.com"),
  password: yup
    .string()
    .required("Password est requis")
    .password(
      "Password not strong enough at least 1 lowercase letter,1 Uppercase letter,1 number and 1 special character"
    ),
});
const form = ref(
  new Form(
    {
      username: "",
      password: "",
    },
    loginSchema
  )
);
form.value.resetOnSucess = false;

async function submit() {
  const isValid = await form.value.validate();
  if (isValid) {
    form.value["username"] = normalizeEmail(form.value["username"]);
    authStore.loginOrSignup(
      form.value.data(),
      () => {
        form.value.setStatus("success", "Login successful");
      },
      (err) => {
        if (!err?.response?.data?.subErrors) {
          form.value.setStatus("error", err?.response?.data?.message);
          userStore.setIsAuthenticated(false);
        } else if (err?.response?.data) {
          form.value.onFail(err?.response?.data);
        } else {
          form.value.setStatus("error", err.message);
        }
      }
    );
  }
}

watch(
  () => form.value.getStatus(),
  (newStatus) => {
    if (!isEmpty(newStatus)) {
      newStatus.forEach((status) =>
        ElMessage({
          showClose: true,
          type: status.type,
          message: status.message,
        })
      );
      form.value.clearStatus();
    }
  }
);
</script>

<style scoped></style>
