<script setup>
import { DateTime } from "luxon";
import { computed, ref } from "vue";
import { useRoute } from "vue-router";
import axios from "../utils/axios";
import { useUserStore } from "../stores/user";
import { ElMessage } from "element-plus";
import Meeting from "../components/Meeting.vue";

const props = defineProps({
  previousDate: { required: true },
  reservationId: { required: true },
  programmeName: { required: true },
  activite: { required: true },
  coachId: { required: true },
});
const emits = defineEmits(["success"]);
const scheduler = ref(null);
const selectedDate = ref(null);
defineExpose({
  selectedDate,
});
const route = useRoute();
const userStore = useUserStore();
const isBooking = ref(false);
const hasSelectedDate = computed(() => {
  return scheduler.value && scheduler.value?.meeting?.date?.length > 0;
});
const userId = route.params.id ?? userStore.getUser().id;
const url = `${process.env.API_BASE_URL}/clients/${userId}/reservations/${props.reservationId}`;

function changerReservation() {
  isBooking.value = true;
  selectedDate.value = DateTime.fromISO(scheduler.value.meeting.date);
  if (selectedDate.value == null) {
    ElMessage({ message: "Vous devez selectionné une date", type: "error" });
    return;
  }
  axios
    .put(url, {
      userId,
      id: props.reservationId,
      newDate: selectedDate.value.toISO({ includeOffset: false }),
    })
    .then((result) => {
      ElMessage({ message: result.data.message, type: "success" });
      emits("success");
    })
    .catch((err) => {
      console.dir(err);
      if (err?.response?.data?.subErrors) {
        err?.response?.data?.subErrors.forEach((error) => {
          ElMessage({ message: error.message, type: "error" });
        });
      } else {
        ElMessage({ message: err?.response?.data?.message, type: "error" });
      }
    })
    .finally(() => {
      isBooking.value = false;
      scheduler.value.meeting = { date: "" };
    });
}
</script>

<template>
  <section class="flex flex-col">
    <p v-text="`Programme :${programmeName}`"></p>
    <p v-text="`Activite : ${activite.name}`"></p>
    <Meeting
      ref="scheduler"
      :initial-date="previousDate"
      :activite-id="activite.id"
      :coach-id="coachId"
    />
    <button
      class="btn btn-outline-secondary"
      :disabled="!hasSelectedDate || isBooking"
      @click="changerReservation"
    >
      Changer reservation
    </button>
  </section>
</template>

<style scoped></style>
