<script setup>
import { useRoute, useRouter } from "vue-router";
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import { computed, nextTick, ref, watch } from "vue";
import * as yup from "yup";
import DurationInput from "../components/DurationInput.vue";
import axios from "../utils/axios";
import Form from "../utils/Form.js";
import FormInput from "../components/FormInput.vue";
import Sujets from "../components/Sujets.vue";
import { useUserStore } from "@/stores/user";
import { ElMessage, ElDatePicker, ElButton } from "element-plus";
dayjs.extend(duration);
const route = useRoute();
const router = useRouter();
const userStore = useUserStore();
const id = Number(route.params.id) || Number(route.params.programmeId);
const activiteField = {
  libelle: "",
  description: "",
  numeroOrdre: 1,
  duree: "",
};

const form = ref(null);
const updateOrCreateProgrameSchema = yup.object().shape({
  nom: yup
    .string()
    .ensure()
    .required()
    .min(8, "Le nom du programme est trop court"),
  dateDebut: yup
    .date()
    .beforeOrEqual(
      "dateFin",
      "La date ne peut pas être supérieur à la date de fin"
    ),
  dateFin: yup
    .date("doit être une data valide")
    .afterOrEqual(
      "dateDebut",
      "la date ne peut pas être inferieur à la date de début"
    )
    .afterOrEqual(
      dayjs(new Date().toDateString()),
      "la date ne peut pas être inferieur à la date du jour"
    ),
  sujets: yup
    .array()
    .of(
      yup
        .object()
        .shape({
          libelle: yup
            .string()
            .required("Le sujet ne peut pas être vide")
            .trim(),
        })
        .uniqueProperty("libelle", "Can't have sujet with same name")
    )
    .min(1, "Au moins un sujet est necessaire"),
  activites: yup
    .array()
    .of(
      yup
        .object()
        .shape({
          libelle: yup
            .string()
            .ensure()
            .required("Le nom de l'activite est requis")
            .min(8, "Le nom de l'activite  est trop court"),
          description: yup
            .string()
            .ensure()
            .required("La description est requis")
            .min(8, "La description est trop courte"),
          numeroOrdre: yup
            .number()
            .required("Le numero d'ordre est requis")
            .min(1),
          duree: yup.string().required("duree est requis"),
        })
        .uniqueProperty("numeroOrdre", "Le numero d'ordre doit être unique")
    )
    .min(1, "Au moins une activite est requise"),
});

const error = ref("");

if (id) {
  try {
    const response = await axios(
      `${process.env.API_BASE_URL}/programmes/${id}`
    );
    form.value = new Form(response.data, updateOrCreateProgrameSchema);
    form.value.resetOnSucess = false;
  } catch (err) {
    console.log("error");
    error.value = err;
  }
} else {
  form.value = new Form(
    {
      coachId: "2",
      nom: "",
      dateDebut: "",
      dateFin: "",
      sujets: [],
      activites: [],
    },
    updateOrCreateProgrameSchema
  );
}
watch(
  () => form.value.activites,
  (activites) => {
    if (
      Array.isArray(activites) &&
      activites?.length > 0 &&
      form.value.errors.has("activites")
    ) {
      form.value.errors.clear("activites");
    }
  },
  {
    deep: true,
  }
);
watch(
  () => form.value.sujets,
  (sujets) => {
    if (
      Array.isArray(sujets) &&
      sujets?.length > 0 &&
      form.value.errors.has("sujets")
    ) {
      form.value.errors.clear("sujets");
    }
  },
  {
    deep: true,
  }
);
const submitText = computed(() =>
  id ? "Modifier programme" : "Create programme"
);

function removeSujet(sujet) {
  const index = form.value.sujets.indexOf(sujet);
  form.value.errors.clear(`sujets[${index}].libelle`);

  nextTick().then(() => {
    form.value.sujets.splice(index, 1);
  });
  nextTick().then(() => {
    form.value.errors.clearAll();
    form.value.validateField("sujets");
  });
}

async function updateProgrammeOrCreate() {
  const isFormValid = await form.value.validate();
  let response;
  if (isFormValid) {
    if (Number.isInteger(id)) {
      response = await form.value.put(
        `${process.env.API_BASE_URL}/programmes/${form.value.id}`
      );
    } else {
      response = await form.value.post(
        `${process.env.API_BASE_URL}/programmes`
      );
    }
    if (response.status.toLowerCase() === "ok") {
      ElMessage({ message: response.message, type: "success" });
      if (userStore.getUser()?.role === "coach") {
        setTimeout(() => router.push("/coach/programmes"), 0);
      } else {
        setTimeout(() => {
          console.log("before redirect");
          router.push(`/admin/coach/${route.params.coachId}/programmes`);
        }, 0);
      }
    }
  }
}
</script>

<template>
  <section v-if="form !== null" class="container">
    <header>
      <h1>Modifier Programme: {{ form.nom.value }}</h1>
    </header>
    <div
      v-if="form.errors.has('activites')"
      class="text-danger"
      v-text="form.errors.get('activites')"
    ></div>
    <div
      v-if="form.errors.has('sujets')"
      class="text-danger"
      v-text="form.errors.get('sujets')"
    ></div>
    <form ref="formulaire" @submit.prevent="onSubmit">
      <input id="id" v-model="form.id" name="id" type="hidden" />
      <div class="row mb-2">
        <input
          id="coachId"
          v-model="form.coachId.value"
          name="coachId"
          type="hidden"
        />
        <FormInput
          id="nom"
          v-model="form.nom"
          :error="form.errors.get('nom')"
          :is-valid="!form.errors.has('nom')"
          :required="true"
          label="programme  name"
          name="nom"
          placeholder="
          Enter programme name "
          type="text"
          @Validate="form.validateField('nom')"
        />
      </div>
      <div class="flex-col">
        <label for="dateDebut">Date debut</label>
        <div
          v-if="form.errors.has('dateDebut')"
          class="text-danger"
          v-text="form.errors.get('dateDebut')"
        ></div>
        <el-date-picker
          id="dateDebut"
          v-model="form.dateDebut"
          format="DD/MM/YYYY"
          placeholder="Pick a day"
          type="date"
          value-format="YYYY-MM-DD"
          @change="form.validateField('dateDebut')"
        />
        <div class="text-danger"></div>
      </div>

      <div class="flex-col">
        <label for="dateFin">DateFin</label>
        <div
          v-if="form.errors.has('dateFin')"
          class="text-danger"
          v-text="form.errors.get('dateFin')"
        ></div>
        <el-date-picker
          id="dateFin"
          v-model="form.dateFin"
          format="DD/MM/YYYY"
          placeholder="Pick a day"
          type="date"
          value-format="YYYY-MM-DD"
          @change="form.validateField('dateFin')"
        />

        <div class="text-danger"></div>
      </div>
      <section class="flex flex-col">
        <header>Sujets</header>
        <div class="grid">
          <Sujets
            :errors="form.errors"
            :sujets="form.sujets"
            @Validate="form.validateField('sujets')"
            @add="(value) => form.sujets.push({ libelle: value.trim() })"
            @remove="
              (sujet) => {
                removeSujet(sujet);
              }
            "
          />
        </div>
      </section>
      <section
        v-for="(activite, index) in form.activites"
        :key="activite.id"
        class="flex-col activite"
      >
        <header class="fs-600">
          {{ activite.libelle }}
        </header>
        <div class="row mb-2">
          <FormInput
            id="libelle"
            v-model="form.activites[index].libelle"
            :error="form.errors.get(`activites[${index}].libelle`)"
            :is-valid="!form.hasError(`activites[${index}].libelle`)"
            :required="true"
            label="activite name"
            name="libelle"
            placeholder="
          Enter Activite name "
            type="text"
            @Validate="form.validateField(`activites[${index}].libelle`)"
          />
        </div>
        <div class="row mb-2">
          <FormInput
            id="description"
            v-model="form.activites[index].description"
            :error="form.errors.get(`activites[${index}].description`)"
            :is-valid="!form.errors.has(`activites[${index}].description`)"
            :required="true"
            label="activite description"
            name="description"
            placeholder="Enter activite description"
            type="text"
            @Validate="form.validateField(`activites[${index}].description`)"
          />
        </div>
        <div class="flex-col" style="margin-block-end: 3rem">
          <FormInput
            :id="`numeroOrdre${activite.numeroOrdre}`"
            v-model="form.activites[index].numeroOrdre"
            :error="form.errors.get(`activites[${index}].numeroOrdre`)"
            :is-valid="!form.errors.has(`activites[${index}].numeroOrdre`)"
            :required="true"
            label="activite numero d'ordre"
            name="numeroOrdre"
            placeholder="Enter activite numero d'ordre"
            type="number"
            @Validate="
              form.validateField(`activites[${index}].numeroOrdre`);
              form.validateField(`activites[${index}]`);
            "
          />
        </div>
        <div
          v-if="form.activites[index]"
          class="flex-col"
          style="margin-block-end: 3rem"
        >
          <label for="duree">Duree</label>
          <div
            v-if="form.errors.has(`activites[${index}].duree`)"
            class="text-danger"
            v-text="form.errors.get(`activites[${index}].duree`)"
          ></div>
          <DurationInput
            id="duree"
            v-model="form.activites[index].duree"
            :error="form.errors.get(`activites[${index}].duree`)"
            :is-valid="!form.hasError(`activites[${index}].duree`)"
            @validate="form.validateField(`activites[${index}].duree`)"
          />

          <div class="text-danger"></div>
        </div>
      </section>
      <button
        :disabled="form.errors.any()"
        class="btn btn-primary"
        @click="updateProgrammeOrCreate"
        v-text="submitText"
      ></button>
    </form>
    <el-button
      v-if="isNaN(id)"
      @click="form.activites.push(Object.assign({}, activiteField))"
    >
      <template #icon>
        <font-awesome-icon :icon="['fas', 'square-plus']" size="3x" />
      </template>
      add Activite
    </el-button>
  </section>
  <p v-else class="fs-500">{{ error?.message }}</p>
</template>

<style scoped>
form {
  counter-reset: activite;
}

.flex header {
  align-self: center;
}

section.activite > header::before {
  counter-increment: activite;
  content: "Activité " counter(activite) " : ";
}
</style>
