<script setup>
import { useRoute, useRouter } from "vue-router";
import { ref } from "vue";
import axios from "../utils/axios";
import { useUserStore } from "../stores/user";
import { loadImage } from "../utils/file";
import ModifyProfile from "./ModifyProfile.vue";
import { ElMessage, ElAvatar } from "element-plus";
const userStore = useUserStore();
const route = useRoute();
const router = useRouter();
console.log(userStore.getUser()?.id);
const url = `${process.env.API_BASE_URL}/users/${
  route.params.id ?? userStore.getUser()?.id
}/profile`;
const imgTag = ref(null);
userStore.$subscribe(() => null, { detached: true });
const response = ref(null);
const userData = ref(null);
response.value = await axios(url)
  .catch((error) => {
    console.dir(error);
    if (error?.response?.data) {
      if (error?.response?.status !== 401) {
        ElMessage({ message: error.response.data.message, type: "error" });
      }
    } else if (error?.message) {
      ElMessage({ message: error.message, type: "error" });
    }
  })
  .catch((err) => {
    if (err?.response?.data) {
      ElMessage(err.response.data.message);
    } else if (err?.message) {
      ElMessage(err.message.data.message);
    }
  });
if (response?.value?.data) {
  axios
    .get(
      `${process.env.API_BASE_URL}/img/users/${response.value.data.payload.id}`,
      {
        responseType: "blob",
      }
    )
    .then((res) => {
      loadImage(res.data).then((img) => {
        userData.value = response?.value?.data?.payload;
        userData.value.previewImage = img;
      });
    });
}
</script>

<template>
  <div class="flex" style="gap: 1rem">
    <div v-if="userData?.previewImage" class="card">
      <header class="flex" style="justify-content: center; align-items: center">
        <el-avatar :src="userData.previewImage" alt="profile picture preview">
          <img src="/profile_placeholder.png" alt="default profile" />
        </el-avatar>
      </header>
      <div class="card-body">
        <ul>
          <li v-text="`${userData?.nom} ${userData?.prenom}`"></li>
        </ul>
      </div>
    </div>
    <div v-if="userStore.getUser()?.role === 'admin'">
      <ul>
        <template v-if="userData?.userType === 'coach'">
          <RouterLink
            v-slot="{ href, navigate, isExactActive }"
            custom
            :to="`/admin/coach/${route.params.id}/programmes/`"
          >
            <li class="nav-item mx-2">
              <a
                :class="{ active: isExactActive }"
                :href="href"
                class="nav-link"
                @click="navigate"
                >Show programmes</a
              >
            </li>
          </RouterLink>
          <RouterLink
            v-slot="{ href, navigate, isExactActive }"
            custom
            :to="`/admin/coach/${route.params.id}/seances/`"
          >
            <li class="nav-item mx-2">
              <a
                :class="{ active: isExactActive }"
                :href="href"
                class="nav-link"
                @click="navigate"
                >Show seances</a
              >
            </li>
          </RouterLink>
        </template>
        <RouterLink
          v-if="userData?.userType === 'client'"
          v-slot="{ href, navigate, isExactActive }"
          custom
          :to="`/admin/users/${route.params.id}/seances`"
        >
          <li class="nav-item mx-2">
            <a
              :class="{ active: isExactActive }"
              :href="href"
              class="nav-link"
              @click="navigate"
              >Show seances</a
            >
          </li>
        </RouterLink>
      </ul>
    </div>
    <ModifyProfile
      v-if="userData?.previewImage"
      :user-id="route.params.id"
      :user-data="userData"
      :url="url"
    />
  </div>
</template>

<style scoped></style>
