<script setup>
import { computed, ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import axios from "../utils/axios.js";
import { useUserStore } from "../stores/user";
import {
  ElMessage,
  ElContainer,
  ElMain,
  ElCard,
  ElButton,
  ElHeader,
} from "element-plus";

const userStore = useUserStore();
const router = useRouter();
const route = useRoute();
const programmes = ref(null);
const id = computed(() => {
  return route.params.id ?? userStore.getUser().id;
});
const modifyUrl = computed(() => {
  if (userStore.getUser()?.role === "admin") {
    return `/admin/coach/${id.value}/programmes/modify/`;
  }
  return "/coach/programmes/modify/";
});
const programmesJson = await axios(
  `${process.env.API_BASE_URL}/coaches/${id.value}/programmes`
);
if (programmesJson.message) {
  ElMessage(programmesJson.message);
} else {
  programmes.value = programmesJson.data;
}

function programmeStatus(dateAnnulation) {
  return dateAnnulation ? "Annulé" : "Actif";
}

function annulerProgramme(programme) {
  axios
    .put(
      `${process.env.API_BASE_URL}/coaches/${programme.coachId}/programmes/${programme.id}/cancel`
    )
    .then((response) => {
      ElMessage(response.data.message);
      programme.dateAnnulation = Date.now();
    })
    .catch((error) => {
      if (error?.response?.status !== 401) {
        ElMessage({ message: error.response.data.message, type: "error" });
      }
    });
}
</script>

<template>
  <el-container>
    <el-header style="text-align: center">Programmes</el-header>
    <el-main>
      <a href="/coach/programmes/create">
        <font-awesome-icon :icon="['fas', 'square-plus']" size="3x" />
        Create programme
      </a>
      <el-card
        v-for="(programme, index) in programmes"
        :key="index"
        class="box-card"
      >
        <template #header>
          <div class="card-header">
            <span v-text="programme.nom"></span>
          </div>
        </template>
        <p>Description</p>
        <p>
          Etat programmes:
          {{ programmeStatus(programme.dateAnnulation) }}
        </p>
        <el-button><a :href="modifyUrl + programme.id">Modifier</a></el-button>
        <el-button
          v-if="programme.dateAnnulation == null"
          @click="annulerProgramme(programme)"
        >
          Annuler programme
        </el-button>
      </el-card>
    </el-main>
  </el-container>
</template>

<style scoped></style>
