<template>
  <el-container v-if="programme" direction="vertical">
    <h1 v-if="programme" v-text="'Programme:' + programme.nom"></h1>
    <el-container>
      <el-header><h2>Objectifs</h2></el-header>
      <el-main>description</el-main>
    </el-container>
    <el-container>
      <el-header>Activites</el-header>
      <el-main v-if="programme">
        <details

          v-for="activite in programme.activites"
          :key="activite.numeroOrdre"
        >
          <summary>
            <span>{{ activite.libelle }}</span>
            <el-radio  data-cy="activity-radio-button" v-model="selectedActiviteId" :label="activite.id"
              >&nbsp;
            </el-radio>
          </summary>
          <p v-text="activite.description"></p>
        </details>
      </el-main>
      <el-footer data-cy="toggle-planning" @click="togglePlanning">
        <el-button>afficher planning</el-button>
      </el-footer>
      <section>
        <Meeting
            data-cy="meeting-planner"
          v-if="showPlanning"
          ref="scheduler"
          :activite-id="selectedActiviteId"
          :coach-id="programme.coachId"
        />
        <el-button
            data-cy="booking-button"
          v-if="showPlanning"
          :disabled="isBooking || !hasSelectedADate"
          @click="reservation"
          >Réserver
        </el-button>
      </section>
    </el-container>
  </el-container>
  <el-empty v-else description="description" />
  <el-dialog
      data-cy="need-login-dialog"
    v-model="openDialog"
    custom-class="dialog"
    @close="isBooking = false"
  >
    <template #header="{ titleId, titleClass }">
      <div class="flex flex-col" style="align-items: center; gap: 2rem">
        <font-awesome-icon
          :icon="['far', 'circle-xmark']"
          size="4x"
          style="color: red"
        />
        <h4 :id="titleId" :class="titleClass">Error</h4>
      </div>
    </template>
    <p style="font-size: min(1.6rem, 75ch); align-self: center">
      Il faut être connecter pour pouvoir réserver
    </p>
    <template #footer>
      <div class="flex" style="justify-content: center">
        <button
          class="btn btn-outline-secondary"
          @click="
            openDialog = false;
            router.push({
              path: '/signup',
              query: { redirect: route.fullPath },
            });
          "
        >
          S'inscrire
        </button>
        <button
          class="btn btn-danger"
          data-cy="dialog-button-login"
          @click="
            openDialog = false;
            router.push({
              path: '/login',
              query: { redirect: route.fullPath },
            });
          "
        >
          Se connecter
        </button>
      </div>
    </template>
  </el-dialog>
</template>

<script setup>
import { computed, ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { DateTime } from "luxon";
import {
  ElContainer,
  ElHeader,
  ElFooter,
  ElButton,
  ElMain,
  ElMessage,
  ElEmpty,
  ElRadio,
  ElDialog,
} from "element-plus";
import axios from "../utils/axios";
import Meeting from "../components/Meeting.vue";
import { useUserStore } from "@/stores/user";

let scheduler = ref(null);
const route = useRoute();
const router = useRouter();
const userStore = useUserStore();
const id = ref(null);
id.value = Number(route.params.id);
let programme = ref(null);
let showPlanning = ref(false);
let selectedActiviteId = ref(-1);
let isBooking = ref(false);
let clientId = userStore?.getUser()?.id ?? -1;
const openDialog = ref(false);
let hasSelectedADate = computed(() => {
  return scheduler && scheduler.value?.meeting?.date?.length > 0;
});

function togglePlanning() {
  if (selectedActiviteId.value > -1) {
    showPlanning.value = !showPlanning.value;
  } else {
    ElMessage("Can't show planning without knowing which activity you want ");
  }
}

watch(selectedActiviteId, (newSelectedActiviteId) => {
  if (showPlanning.value) {
    scheduler.value.refresh(newSelectedActiviteId);
  }
});

async function reservation() {
  if (userStore?.isAuthenticated === false) {
    openDialog.value = true;
  } else {
    isBooking.value = true;
    const selectedDate = DateTime.fromISO(scheduler.value.meeting.date);
    if (
      selectedActiviteId.value < 1 ||
      clientId < 1 ||
      programme.value.coachId < 1 ||
      !selectedDate.isValid
    ) {
      ElMessage("Information incorrecte pour réserver l'activité");
    } else {
      axios
        .post(`${process.env.API_BASE_URL}/reservations`, {
          activiteId: selectedActiviteId.value,
          clientId,
          programmeId: programme.value.id,
          coachId: programme.value.coachId,
          date: selectedDate.toISO({ includeOffset: false }),
        })
        .then((response) => {
          isBooking.value = false;
          router.push({ path: `/reservation/${response.data.payload.id}` });
        })
        .catch((err) => {
          showPlanning.value = !showPlanning.value;
          isBooking.value = false;
          const error = err.response.data;
          ElMessage({ message: error.message, type: "error" });
        });
    }
  }
}

const programmeResponse = await axios(
  `${process.env.API_BASE_URL}/programmes/${id.value}`
).catch((err) => ElMessage({ message: err.message, type: "error" }));
programme.value = programmeResponse.data;
</script>

<style scoped></style>