<script setup>
import { useRouter } from "vue-router";
import { ref } from "vue";
import dayjs from "dayjs";
import { ElButton, ElResult } from "element-plus";
import axios from "../utils/axios";
import * as Sentry from "@sentry/vue";
const props = defineProps({ id: { required: true } });
const router = useRouter();
const error = ref(null);
const response = await axios
  .get(`${process.env.API_BASE_URL}/reservations/${props.id}`)
  .catch((err) => {
    Sentry.captureException(err);
    error.value = err.response.data.message;
  });
const reservation = response?.data?.payload;
</script>

<template>
  <el-result
    :icon="reservation ? 'success' : 'error'"
    :title="reservation ? 'Reservation succesful' : 'Error'"
  >
    <template #extra>
      <section v-if="reservation" class="content" data-cy="booking-detail">
        <p>detail réservation</p>
        <section>
          <p v-text="reservation.programmeNamme"></p>
          <ul>
            <li
              v-text="`${reservation.client.nom} ${reservation.client.prenom}`"
            ></li>
            <li
              v-text="
                `Date de réservation: ${dayjs(
                  reservation.dateReservation
                ).format('DD/MM/YY HH:mm:ss')}`
              "
            ></li>
            <li v-text="`Heure de la séance: ${reservation.heureSeance}`"></li>
            <li
              v-text="
                `avec le coach ${reservation.coachNom} ${reservation.coachPrenom}`
              "
            ></li>
            <li v-text="`Programme :${reservation.programmeName}`"></li>
            <li>
              <p v-text="`Activite:${reservation.activite.libelle}`"></p>
              <p
                v-text="`durée  de la séance: ${reservation.activite.duree}`"
              ></p>
            </li>
          </ul>
        </section>
      </section>
      <section v-else class="content">
        <p class="h1" style="text-align: center">
          {{ error || "aucune reservation trouvé" }}
        </p>
      </section>

      <el-button
        type="primary"
        data-cy="booking-detail-cta"
        @click="
          reservation
            ? router.push({ path: '/client' })
            : router.push({ path: '/coachs' })
        "
      >
        Back
      </el-button>
    </template>
  </el-result>
</template>

<style scoped></style>