<template>
  <div>
    <h1>Settings</h1>
    <ul>
      <RouterLink
        v-slot="{ href, navigate, isExactActive }"
        custom
        to="/coach/profile"
      >
        <li>
          <a
            :class="{ active: isExactActive }"
            :href="href"
            class="nav-link"
            @click="navigate"
            >Modifier Profile</a
          >
        </li>
      </RouterLink>
    </ul>
  </div>
</template>

<style scoped></style>
