<template>
  <section class="vh-100" style="background-color: #9a616d">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  alt="login form"
                  class="img-fluid"
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  style="border-radius: 1rem 0 0 1rem"
                />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form
                    method="post"
                    name="loginForm"
                    @submit.prevent="onSubmit"
                  >
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i
                        class="fas fa-cubes fa-2x me-3"
                        style="color: #ff6219"
                      ></i>
                      <span class="h1 fw-bold mb-0">Logo</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                      Sign up
                    </h5>
                    <section class="input-group gap-3 mb-3">
                      <label> Type d'utilisateur</label>
                      <el-radio-group
                        v-model="form.userType"
                        :class="{ 'is-invalid': form.hasError('userType') }"
                        size="large"
                        style=""
                        @change="form.validateField('userType')"
                      >
                        <el-radio-button
                          aria-checked="true"
                          checked
                          label="Client"
                        />
                        <el-radio-button label="Coach" />
                      </el-radio-group>
                      <p
                        v-if="form.hasError('userType')"
                        class="invalid-feedback"
                        v-text="form.getError('userType')"
                      ></p>
                    </section>

                    <FormInput
                      v-model="form.nom"
                      :error="form.errors.get('nom')"
                      :is-valid="!form.errors.has('nom')"
                      :required="true"
                      label="Nom"
                      name="nom"
                      placeholder="Enter your Last name"
                      type="text"
                      @Validate="form.validateField('nom')"
                    />
                    <FormInput
                      v-model="form.prenom"
                      :error="form.errors.get('prenom')"
                      :is-valid="!form.errors.has('prenom')"
                      :required="true"
                      label="Prenom"
                      name="prenom"
                      placeholder="Enter your First name"
                      type="text"
                      @Validate="form.validateField('prenom')"
                    />
                    <FormInput
                      v-model="form.email"
                      :error="form.errors.get('email')"
                      :is-valid="!form.errors.has('email')"
                      :required="true"
                      label="Email address"
                      name="email"
                      placeholder="Enter an Email"
                      type="email"
                      @Validate="form.validateField('email')"
                    />
                    <FormInput
                      v-model="form.password"
                      :error="form.errors.get('password')"
                      :is-valid="!form.errors.has('password')"
                      :required="true"
                      label="Password"
                      name="password"
                      placeholder="Enter a password"
                      type="password"
                      @Validate="
                        form.validateField('password');
                        form.validateField('confirmPassword');
                      "
                    />
                    <FormInput
                      v-model="form.confirmPassword"
                      :error="form.errors.get('confirmPassword')"
                      :is-valid="!form.errors.has('confirmPassword')"
                      :required="true"
                      label="Confirmation password"
                      name="confirmPassword"
                      placeholder="Enter anoter time your password"
                      type="password"
                      @Validate="
                        form.validateField('confirmPassword');
                        form.validateField('password');
                      "
                    />
                    <div class="pt-1 mb-4">
                      <button
                        class="btn btn-dark btn-lg btn-block"
                        type="submit"
                        @click="submit"
                      >
                        Signup
                      </button>
                    </div>
                    <p class="mb-5 pb-lg-2" style="color: #393f81">
                      Already hava an account ?
                      <RouterLink style="color: #393f81" to="/login"
                        >Login here</RouterLink
                      >
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
import FormInput from "../components/FormInput.vue";
import Form from "../utils/Form";
import * as yup from "yup";
import { ref, watch } from "vue";
import { useRouter } from "vue-router";
import { useUserStore } from "../stores/user";
import normalizeEmail from "validator/es/lib/normalizeEmail";
import { useAuthStore } from "../stores/auth";
import { isEmpty } from "underscore/underscore-esm";
import { ElMessage, ElRadioButton, ElRadioGroup } from "element-plus";

const router = useRouter();
const userStore = useUserStore();
const authStore = useAuthStore();
userStore.$subscribe(() => null, { detached: true });
const url = `${process.env.API_BASE_URL}/auth/signup`;
// règle de validation des champs du formulaire
const signupSchema = yup.object().shape({
  userType: yup.string().required("un type d'utilisateur est necessaire"),
  nom: yup.string().required("Nom est requis"),
  prenom: yup.string().required("prenom est requis"),
  email: yup
    .string()
    .required("Email est requis")
    .email("email address doit être valid format:john@doe.com"),
  password: yup
    .string()
    .required("Password est requis")
    .password(
      "Password not strong enough at least 1 lowercase letter,1 Uppercase letter,1 number and 1 special character"
    )
    .sameAs(
      "confirmPassword",
      "le champs password doit être identique au champ confirmPassword"
    ),
  confirmPassword: yup
    .string()
    .required("Password est requis")
    .password(
      "Password not strong enough at least 1 lowercase letter,1 Uppercase letter,1 number and 1 special character"
    )
    .sameAs(
      "password",
      "le champs comfirmation password doit être identique au champ password"
    ),
});
const form = ref(
  new Form(
    {
      userType: "",
      nom: "",
      prenom: "",
      email: "",
      password: "",
      confirmPassword: "",
    },
    signupSchema
  )
);
form.value.resetOnSucess = false;

async function submit() {
  const isValid = await form.value.validate();
  if (isValid) {
    form.value["email"] = normalizeEmail(form.value["email"]);
    authStore.loginOrSignup(
      form.value.data(),
      () => {
        form.value.setStatus(
          "success",
          "Login successful redirecting to home page"
        );
      },
      (err) => {
        console.dir(err);
        if (!err?.response?.data?.subErrors) {
          form.value.setStatus("error", err?.response?.data?.message);
          userStore.setIsAuthenticated(false);
        } else {
          form.value.onFail(err?.response?.data);
        }
      },
      "signup"
    );
  }
}

watch(
  () => form.value.getStatus(),
  (newStatus) => {
    if (!isEmpty(newStatus) && Array.isArray(newStatus)) {
      newStatus.forEach((status) =>
        ElMessage({
          showClose: true,
          type: status.type,
          message: status.message,
        })
      );
      form.value.clearStatus();
    }
  }
);
</script>

<style scoped></style>
